{:deps {clj-http/clj-http {:mvn/version "3.12.1"}
        clj-time/clj-time {:mvn/version "0.15.2"}
        com.datomic/datomic-free {:mvn/version "0.9.5697"}
        com.taoensso/nippy {:mvn/version "3.1.1"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        enlive/enlive {:mvn/version "1.1.6"}
        hickory/hickory {:mvn/version "0.7.1"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        org.clojure/clojure {:mvn/version "1.10.3"}}

 :paths ["src"]}
